.create-brewer {
  display: flex;
  flex-direction: column;

  // border: 1px solid grey;
  border-radius: 20px;
  padding: 25px;
  // cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // transform: translateZ(0);
  // transition: transform 0.25s ease-out;
  .create-brewer-form {
    position: relative;
    margin: 45px 0;

    .input {
      // font-size: 18px;
      padding: 10px 10px 10px 5px;
      // display: block;
      width: 90%;
      border: none;
      border-radius: 0;
      margin: 10px 0px 40px;
    }
  }
}
