.recipe-card {
  border: none;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  padding-bottom: 50px;
  background-color: #caf8cd;
}

.recipe-description {
  color: grey;
  font-size: 18px;
}

p {
}
