.brewers-recipes-page {
  h1 {
    margin-bottom: 50px;
    color: #7fc688;
  }
}

.brewers-recipes-cardlist {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
